@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Libre Franklin", sans-serif;
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.navbar{
    max-height: 65px;
    margin-left: 50px;
    margin-right: 50px;
}

.nav-link{
    color: white;
}

.header {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        
}
