body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


.header1 {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

.header1 i {
    color: #591FBF;
}

.header1 span {
    display: flex;
    align-items: center;
}


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.search-bar {
    border: 2px solid #591FBF;
    padding: 8px 12px;
    border-radius: 20px;
    width: 450px;
    background: white;
    display: flex;
    align-items: center;
}

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
}

.search-bar i {
    color: #591FBF;
}

.icon-group {
    display: flex;
    gap: 15px;
}

.icon-button {
    background: none;
    border: 2px solid #591FBF;
    color: #591FBF; 
    padding: 8px 12px;
    border-radius: 20px; 
    cursor: pointer;
    width: 65px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 17px; 
}

.icon-button:hover {
    background-color: #591FBF; 
    color: white;
}

.btn-link ,a{
    background: none;
    border: none;
    color: #591FBF;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

.btn-link:hover {
    color: #3e149b;  
}

a {
    color: #3e149b;  
}

.table-container {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.table thead {
    background: #591FBF;
    color: white;
}

.table tbody tr {
    border-bottom: 1px solid #ccc;
}

.table th, .table td {
    padding: 12px;
}

.table td i {
    color: #591FBF;
    cursor: pointer;
}


.avis-texte {
    word-wrap: break-word; 
    overflow-wrap: break-word; 
  }

  .star-icon {
    font-size: 1.2rem;
    margin-right: 0.2rem; 
  }

  .review-card {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.formGroup {
    width: 48%; 
    margin-bottom: 15px;
}